<section class="bg-white p-10 rounded-lg shadow-lg w-full max-w-xxl">
    <div class="flex justify-between">
      <h2 class="text-2xl font-bold mb-4">Datos del empleado</h2>
      <div><app-buttons></app-buttons></div>
    </div>
    <div class="mb-4">
      <label class="block text-gray-700">Nombre</label>
      <p class="w-full py-2 border-b"></p>
    </div>
    <div class="mb-4">
      <label class="block text-gray-700">Apellidos</label>
      <p class="w-full py-2 border-b"></p>
    </div>
    <div class="mb-4">
      <label class="block text-gray-700">Email</label>
      <p class="w-full py-2 border-b"></p>
    </div>
    <div class="mb-4">
      <label class="block text-gray-700">Telefono</label>
      <p class="w-full py-2 border-b"></p>
    </div>
    <div class="mb-4">
      <label class="block text-gray-700">Departamento</label>
      <p class="w-full py-2 border-b"></p>
    </div>
    <div class="mb-4">
      <label class="block text-gray-700">Salario</label>
      <p class="w-full py-2 border-b"></p>
    </div>
  </section>
  
