<table class="min-w-full bg-white">
    <thead>
      <tr>
        <th class="py-2 px-4 border-b border-gray-200">Nombre</th>
        <th class="py-2 px-4 border-b border-gray-200">Apellidos</th>
        <th class="py-2 px-4 border-b border-gray-200">Email</th>
        <th class="py-2 px-4 border-b border-gray-200">Departamento</th>
        <th class="py-2 px-4 border-b border-gray-200">Acciones</th>
      </tr>
    </thead>
    <tbody>
        @for( employee of arrEmployees; track employee._id){
            <app-row-employee [myEmployee]="employee"></app-row-employee>
        }
      <!-- Más filas de empleados aquí -->
    </tbody>
  </table>